.grid-menu {
  margin-top: 1rem;
}

.setting-card {
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.5rem 0.75rem;
  border-radius: 7px;
  border: 1px solid #d3d3d3;
  background-color: white;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transform: translateY(-2px);
  }
}

.icon-wrap {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center,
}

.card-title {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

.card-desc {
  margin-left: 45px;
  font-size: 14px;
  font-weight: 400;
}