.dashboard-statistic {
  display: grid;
  margin-top: 2rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dashboard-chart {
  display: grid;
  margin-top: 2rem;
  gap: 1rem;
  width: 100%;
  grid-template-columns: 1fr 2.5fr;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}