.loading-view {
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  position: absolute;
  background-color: white;

  .inner-view {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
}